/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.column {
  display: flex;
  flex-direction: column; }

.row {
  display: flex;
  flex-direction: row; }

body {
  background: #273772 url("../img/top_house.jpg") no-repeat top right;
  background-size: contain;
  color: #231f20;
  font-size: 16px;
  font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.container {
  width: 90vw;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0; }

section.top {
  background-color: rgba(55, 5, 64, 0.9);
  padding: 5vw 0 10vw; }
  section.top header {
    justify-content: space-between;
    align-items: center; }
    .mobile section.top header {
      justify-content: flex-start; }
    section.top header h1 {
      background: url("../img/logo.png") no-repeat center left;
      background-size: contain;
      padding-left: 2em;
      margin-right: 2em; }
      section.top header h1 .logo, section.top header h1 .logo:visited {
        color: #01ff83;
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none; }
    section.top header nav {
      width: 60%; }
      section.top header nav i {
        color: #ffffff;
        cursor: pointer;
        display: none;
        position: relative;
        z-index: 200; }
        .mobile section.top header nav i {
          display: block; }
      section.top header nav ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%; }
        section.top header nav ul li {
          margin-right: 1.5vw; }
          section.top header nav ul li:last-child {
            margin-right: 0; }
        section.top header nav ul a, section.top header nav ul a:visited {
          color: #ffffff;
          font-size: 0.8em;
          text-decoration: none; }
        .mobile section.top header nav ul {
          display: none; }
        .mobile section.top header nav ul.show {
          background-color: #370948;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          position: fixed;
          top: 0;
          left: 0;
          width: 44%;
          height: 100vh;
          padding: 10vh 0 0;
          z-index: 100; }
          .mobile section.top header nav ul.show li {
            margin: 0 0 5vw 10vw;
            font-size: 1.5em; }
      .mobile section.top header nav {
        width: 7%;
        order: -1;
        overflow: visible;
        position: relative; }
  section.top .search h2 {
    color: #01ff83;
    font-size: 6vw;
    font-weight: bold;
    margin: 1em 0 0.5em; }
  section.top .search div {
    border-bottom: 1px solid #5e853c;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    width: 50%; }
    section.top .search div input {
      background: none;
      border: none;
      color: #ffffff;
      font-size: 2.3vw;
      width: 95%; }
      section.top .search div input:focus {
        outline: none; }
      section.top .search div input::placeholder {
        color: #ffffff; }
      @media (max-width: 599px) {
        section.top .search div input {
          font-size: 4.8vw; } }
    section.top .search div i {
      font-size: 3.4vw;
      color: #fd0057;
      cursor: pointer; }
  @media (max-width: 599px) {
    section.top .search div {
      width: 80%; } }
  section.top .tags {
    justify-content: flex-start;
    width: 100%;
    margin: 2.5em 0 0; }
    section.top .tags .title {
      color: #ffffff;
      font-size: 0.77em;
      line-height: 3.5vw; }
    section.top .tags ul {
      justify-content: flex-start;
      margin-left: 1.5em;
      flex-wrap: wrap; }
      section.top .tags ul li a, section.top .tags ul li a:visited {
        background-color: #fd0057;
        border-radius: 0.2em;
        color: #f7cdce;
        font-size: 0.77em;
        padding: 1vw;
        text-decoration: none;
        display: block;
        margin: 0 0 1.7vw 1.7vw; }

section.latest {
  background-color: #01ff83;
  padding: 9vw 0; }
  section.latest header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vw; }
    section.latest header h2 {
      color: #370948;
      font-size: 3.5vw;
      font-weight: bold; }
      @media (max-width: 599px) {
        section.latest header h2 {
          font-size: 5.5vw; } }
    section.latest header a, section.latest header a:visited {
      background-color: #fd0057;
      border-radius: 0.2em;
      color: #f7cdce;
      font-size: 0.77em;
      padding: 1vw;
      text-decoration: none; }
  section.latest .properties {
    justify-content: space-between; }
    section.latest .properties .property {
      background-color: #ffffff;
      width: 31.5%; }
      section.latest .properties .property figure {
        background-color: #370948;
        display: flex;
        flex-direction: column;
        width: 100%; }
        section.latest .properties .property figure img {
          width: 100%; }
        section.latest .properties .property figure figcaption {
          font-size: 0.8em;
          font-weight: bold;
          background-color: #370948;
          width: 66%;
          margin-top: -2.35em; }
          section.latest .properties .property figure figcaption div {
            color: #f7cdce;
            padding: 0.7em 0;
            width: 50%;
            text-align: center;
            text-transform: uppercase; }
          section.latest .properties .property figure figcaption div.price {
            background-color: #fd0057; }
          @media (min-width: 600px) and (max-width: 900px) {
            section.latest .properties .property figure figcaption {
              width: 100%; } }
      section.latest .properties .property .propertyInfo {
        padding: 1em; }
        section.latest .properties .property .propertyInfo h3 {
          color: #370948;
          font-size: 2vw;
          font-weight: bold; }
          @media (max-width: 599px) {
            section.latest .properties .property .propertyInfo h3 {
              font-size: 5vw; } }
        section.latest .properties .property .propertyInfo .address {
          font-size: 0.77em;
          flex-wrap: wrap;
          margin-top: 0.5em; }
          section.latest .properties .property .propertyInfo .address > div {
            margin-bottom: 1em; }
        section.latest .properties .property .propertyInfo .houseInfo {
          font-size: 0.77em; }
        section.latest .properties .property .propertyInfo .location, section.latest .properties .property .propertyInfo .type {
          color: #370948; }
        section.latest .properties .property .propertyInfo .location {
          margin-right: 1em; }
        section.latest .properties .property .propertyInfo i {
          color: #fd0057;
          margin-right: 0.2em; }
        section.latest .properties .property .propertyInfo .houseInfo {
          justify-content: space-between; }
          section.latest .properties .property .propertyInfo .houseInfo > div {
            border-right: 1px solid #370948;
            color: #370948;
            text-align: center;
            width: 33%; }
          section.latest .properties .property .propertyInfo .houseInfo :last-child {
            border-right: none; }
          section.latest .properties .property .propertyInfo .houseInfo span {
            font-size: 2.4em;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
          @media (min-width: 600px) and (max-width: 900px) {
            section.latest .properties .property .propertyInfo .houseInfo {
              flex-direction: column; }
              section.latest .properties .property .propertyInfo .houseInfo > div {
                border: none;
                flex-direction: row;
                margin-bottom: 0.5em; }
                section.latest .properties .property .propertyInfo .houseInfo > div:last-child {
                  margin-bottom: 0; }
                section.latest .properties .property .propertyInfo .houseInfo > div span {
                  font-size: 1em;
                  margin: 0 1em 0 0; } }
          @media (max-width: 599px) {
            section.latest .properties .property .propertyInfo .houseInfo {
              flex-direction: column; }
              section.latest .properties .property .propertyInfo .houseInfo > div {
                border: none;
                flex-direction: row;
                margin-bottom: 0.5em; }
                section.latest .properties .property .propertyInfo .houseInfo > div:last-child {
                  margin-bottom: 0; }
                section.latest .properties .property .propertyInfo .houseInfo > div span {
                  font-size: 1em;
                  margin: 0 1em 0 0; } }
    @media (max-width: 599px) {
      section.latest .properties {
        flex-direction: column; }
        section.latest .properties .property {
          display: flex;
          width: 100%;
          margin-bottom: 1em; }
          section.latest .properties .property figure {
            width: 33.33%; }
            section.latest .properties .property figure figcaption {
              width: 100%;
              flex-direction: column;
              margin-top: -0.55em; }
              section.latest .properties .property figure figcaption div {
                width: 100%; }
          section.latest .properties .property .propertyInfo {
            width: 66.66%; }
            section.latest .properties .property .propertyInfo .address {
              flex-direction: column; } }

section.featured {
  background: url("../img/featured.jpg") no-repeat top center;
  background-size: cover;
  padding: 20% 0 0; }
  section.featured .container {
    max-width: 1600px; }
  section.featured .description {
    background-color: rgba(255, 255, 255, 0.95);
    box-sizing: border-box;
    box-shadow: 0px -7px 5px -4px #c2c2c2;
    width: 575px;
    max-width: 95%;
    margin: 0 auto 20vw;
    padding: 2em;
    position: relative; }
    section.featured .description h3 {
      display: block;
      background-color: #370948;
      color: #f7cdce;
      position: absolute;
      top: -2.5em;
      left: 0;
      padding: 0.77em;
      font-size: 0.77em;
      text-transform: uppercase; }
      section.featured .description h3 i {
        color: #fd0057;
        margin-right: 0.2em; }
    section.featured .description .featuredDetailed {
      justify-content: space-between; }
      @media (max-width: 599px) {
        section.featured .description .featuredDetailed {
          flex-direction: column; } }
    section.featured .description .info {
      width: 80%; }
      section.featured .description .info .address {
        color: #370948;
        font-size: 1em; }
        section.featured .description .info .address .location {
          margin-right: 1.5em; }
        section.featured .description .info .address i {
          margin-right: 0.2em;
          color: #fd0057; }
      @media (max-width: 599px) {
        section.featured .description .info {
          width: 100%; }
          section.featured .description .info .address {
            flex-direction: column; }
          section.featured .description .info .location {
            margin-bottom: 0.5em; } }
    section.featured .description .houseInfo {
      justify-content: space-between;
      width: 75%; }
      section.featured .description .houseInfo > div {
        text-align: center; }
        section.featured .description .houseInfo > div span {
          font-weight: bold;
          font-size: 5vw;
          line-height: 1.5em; }
      @media (max-width: 599px) {
        section.featured .description .houseInfo {
          width: 100%;
          flex-direction: column; }
          section.featured .description .houseInfo > div {
            flex-direction: row;
            align-items: center; }
            section.featured .description .houseInfo > div span {
              font-size: 1em;
              margin-right: 0.5em; } }
    section.featured .description .street {
      color: #370948;
      font-size: 2.6vw;
      font-weight: bold;
      margin: 0.5em 0; }
      @media (max-width: 599px) {
        section.featured .description .street {
          font-size: 7vw; } }
    section.featured .description .price {
      justify-content: space-between;
      width: 20%; }
      section.featured .description .price > div {
        color: #f7cdce;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
      section.featured .description .price .priceText {
        background-color: #370948; }
      section.featured .description .price .priceNumber {
        background-color: #fd0057; }
      @media (max-width: 599px) {
        section.featured .description .price {
          flex-direction: row;
          width: 100%; }
          section.featured .description .price > div {
            width: 50%;
            padding: 0.5em 0; } }
    section.featured .description .featuresList {
      justify-content: space-between;
      margin: 1.5em 0 0; }
      section.featured .description .featuresList > div {
        width: 50%; }
        section.featured .description .featuresList > div > div {
          font-size: 0.88em;
          margin-bottom: 0.5em; }
      section.featured .description .featuresList i {
        color: #fd0057;
        margin-right: 0.5em; }
      @media (max-width: 599px) {
        section.featured .description .featuresList {
          flex-direction: column; }
          section.featured .description .featuresList > div {
            width: 100%; } }
  section.featured .featuredTabs {
    width: 720px;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between; }
    section.featured .featuredTabs .link {
      box-sizing: border-box;
      background-color: rgba(30, 30, 30, 0.85);
      color: #ffffff;
      width: 32%;
      padding: 0.7em 1em; }
      section.featured .featuredTabs .link.active {
        background-color: #fd0057; }
      section.featured .featuredTabs .link > a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.77em; }
        section.featured .featuredTabs .link > a span {
          font-weight: normal;
          margin-top: 0.2em; }
      section.featured .featuredTabs .link i {
        font-size: 1.6em;
        display: block;
        margin-right: 0.5em; }
    @media (max-width: 599px) {
      section.featured .featuredTabs {
        flex-direction: column;
        max-width: 66%; }
        section.featured .featuredTabs .link {
          width: 100%;
          margin-bottom: 0.5em; }
          section.featured .featuredTabs .link:last-child {
            margin-bottom: 0; } }

.sell {
  background-color: #ffffff;
  padding: 5vw 0 0; }
  .sell .sellInfo {
    width: 55%; }
    .sell .sellInfo h2 {
      color: #370948;
      font-size: 3.8vw;
      font-weight: bold; }
    .sell .sellInfo h3 {
      color: #370948;
      font-size: 2.35vw;
      margin: 2.5vw 0; }
    .sell .sellInfo p {
      font-size: 0.88em;
      line-height: 1.7em;
      margin-bottom: 4.5vw; }
    @media (max-width: 599px) {
      .sell .sellInfo {
        width: 100%; }
        .sell .sellInfo h2 {
          font-size: 7.5vw; }
        .sell .sellInfo h3 {
          font-size: 4.65vw; } }
  .sell .sellFeatures {
    justify-content: space-between;
    margin-bottom: 2.5em; }
    .sell .sellFeatures h4 {
      color: #370948;
      font-size: 2vw;
      text-align: center;
      width: 20%;
      border-right: 1px solid #eaebec; }
      .sell .sellFeatures h4:last-child {
        border-right: none; }
      .sell .sellFeatures h4 i {
        font-size: 2em;
        margin-bottom: 0.5em; }
        .sell .sellFeatures h4 i.fa-coins {
          color: #01ff83; }
        .sell .sellFeatures h4 i.fa-box-open {
          color: #01f1ff; }
        .sell .sellFeatures h4 i.fa-camera {
          color: #ebff00; }
        .sell .sellFeatures h4 i.fa-gem {
          color: #fe0058; }
    @media (max-width: 599px) {
      .sell .sellFeatures {
        flex-direction: column; }
        .sell .sellFeatures h4 {
          text-align: left;
          flex-direction: row;
          width: 90%;
          border: none;
          font-size: 5vw; }
          .sell .sellFeatures h4 br {
            display: none; }
          .sell .sellFeatures h4 i {
            margin-right: 0.5em; } }
  .sell .sellContacts {
    background-color: #f7f8f9;
    padding: 4vw; }
    .sell .sellContacts h3 {
      color: #370948;
      font-size: 2.2vw;
      font-weight: bold;
      width: 27%;
      padding-right: 1em;
      box-sizing: border-box; }
    .sell .sellContacts .contact {
      width: 73%;
      justify-content: space-between; }
    .sell .sellContacts .contactInfo {
      width: 45%; }
      .sell .sellContacts .contactInfo img {
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        border: 2px solid #fd0057;
        box-shadow: 0px 0px 0px 0.4em #e2e3e4;
        margin-right: 1.5em; }
      .sell .sellContacts .contactInfo .contactDetails {
        font-size: 0.88em; }
        .sell .sellContacts .contactInfo .contactDetails > div {
          margin-bottom: 0.5em; }
          .sell .sellContacts .contactInfo .contactDetails > div > i {
            color: #fd0057; }
          .sell .sellContacts .contactInfo .contactDetails > div > a {
            color: #231f20; }
        .sell .sellContacts .contactInfo .contactDetails strong {
          font-weight: bold; }
    @media (max-width: 599px) {
      .sell .sellContacts {
        flex-direction: column; }
        .sell .sellContacts h3, .sell .sellContacts > div, .sell .sellContacts .contact {
          width: 100%; }
        .sell .sellContacts h3 {
          margin-bottom: 1em;
          padding: 0;
          font-size: 6vw; }
        .sell .sellContacts .contact {
          flex-direction: column; }
          .sell .sellContacts .contact .contactInfo {
            width: 100%;
            margin-bottom: 1em; } }

.newsletter {
  background-color: #370948;
  padding: 2em 0; }
  .newsletter .container h2 {
    color: #01ff83;
    font-size: 2.8vw;
    font-weight: bold;
    width: 33%;
    box-sizing: border-box;
    padding: 0 2em 0 0.5em; }
  .newsletter .container form {
    width: 67%; }
    .newsletter .container form .user {
      justify-content: space-between; }
      .newsletter .container form .user input {
        font-size: 1.8vw;
        width: 37%;
        border: 0;
        padding: 0.5em;
        box-sizing: border-box; }
      .newsletter .container form .user button {
        background-color: #fd0057;
        border: none;
        color: #ffffff;
        font-size: 0.77em;
        width: 20%;
        background-color: #fd0057;
        border-radius: 0.2em;
        color: #f7cdce;
        font-size: 0.77em;
        padding: 0;
        text-decoration: none;
        margin-left: 0; }
        .newsletter .container form .user button i {
          margin-right: 0.5em; }
      @media (max-width: 599px) {
        .newsletter .container form .user input {
          font-size: 3.8vw; } }
    .newsletter .container form .filter {
      justify-content: space-between;
      margin: 2em 0 0; }
      .newsletter .container form .filter .checkbox {
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        font-size: 0.77em;
        display: flex;
        align-items: center;
        position: relative;
        user-select: none;
        width: 18%; }
      .newsletter .container form .filter .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
      .newsletter .container form .filter .checkmark {
        position: relative;
        height: 2.5vw;
        width: 2.5vw;
        background-color: #ffffff;
        margin-right: 3.3vw; }
        @media (max-width: 599px) {
          .newsletter .container form .filter .checkmark {
            width: 5.5vw;
            height: 5.5vw; } }
        @media (min-width: 600px) and (max-width: 900px) {
          .newsletter .container form .filter .checkmark {
            width: 4vw;
            height: 4vw; } }
      .newsletter .container form .filter .checkbox:hover input ~ .checkmark {
        background-color: #f7cdce; }
      .newsletter .container form .filter .checkbox input:checked ~ .checkmark {
        background-color: #fd0057; }
      .newsletter .container form .filter .checkmark:after {
        content: "";
        position: absolute;
        display: none; }
      .newsletter .container form .filter .checkbox input:checked ~ .checkmark:after {
        display: block; }
      .newsletter .container form .filter .checkbox .checkmark:after {
        left: 0.7vw;
        top: 0em;
        width: 0.6vw;
        height: 1.5vw;
        border: solid #ffffff;
        border-width: 0 0.5vw 0.5vw 0;
        transform: rotate(45deg); }
        @media (max-width: 599px) {
          .newsletter .container form .filter .checkbox .checkmark:after {
            left: 1.7vw;
            width: 1.1vw;
            height: 4vw;
            border-width: 0 1vw 1vw 0; } }
        @media (min-width: 600px) and (max-width: 900px) {
          .newsletter .container form .filter .checkbox .checkmark:after {
            left: 1.1vw;
            width: 1vw;
            height: 2.3vw;
            border-width: 0 1vw 1vw 0; } }
      .newsletter .container form .filter label.price {
        color: #ffffff;
        cursor: pointer;
        font-size: 0.77em;
        line-height: 1.3em;
        justify-content: space-between;
        align-items: center;
        width: 28%; }
        .newsletter .container form .filter label.price input {
          box-sizing: border-box;
          border: 0;
          border-radius: 0;
          color: #370948;
          width: 62%;
          padding: 0.4vw 0.8vw;
          background-color: #ffffff; }
          .newsletter .container form .filter label.price input::placeholder {
            color: #370948; }
        .newsletter .container form .filter label.price span {
          color: #f7cdce;
          display: block;
          margin-left: 2em;
          width: 25%; }
        @media (max-width: 599px) {
          .newsletter .container form .filter label.price {
            width: 80%; }
            .newsletter .container form .filter label.price input {
              font-size: 3.8vw;
              padding: 1.4vw 1.8vw; } }
        @media (min-width: 600px) and (max-width: 900px) {
          .newsletter .container form .filter label.price {
            width: 42%; }
            .newsletter .container form .filter label.price input {
              font-size: 2.8vw;
              padding: 0.8vw 0.8vw; } }
  @media (max-width: 599px) {
    .newsletter .container {
      flex-direction: column; }
      .newsletter .container h2, .newsletter .container form {
        width: 100%;
        margin-bottom: 1em; }
      .newsletter .container h2 {
        font-size: 6vw; }
      .newsletter .container form .filter {
        flex-wrap: wrap; }
        .newsletter .container form .filter .checkbox {
          width: 25%;
          margin-bottom: 1em; } }
  @media (min-width: 600px) and (max-width: 900px) {
    .newsletter .container {
      flex-direction: column; }
      .newsletter .container h2, .newsletter .container form {
        width: 100%;
        margin-bottom: 1em; }
      .newsletter .container h2 {
        font-size: 6vw; }
      .newsletter .container form .filter {
        flex-wrap: wrap; }
        .newsletter .container form .filter .checkbox {
          width: 25%;
          margin-bottom: 1em; } }

.moreInfo {
  background: #ffffff url("../img/no_pain_property.jpg") no-repeat top left;
  background-size: cover;
  position: relative; }
  .moreInfo .background {
    position: absolute;
    width: 55%;
    height: 100%;
    right: 0; }
    .moreInfo .background .background1 {
      height: 40%;
      background-image: -webkit-linear-gradient(-90deg, #1bf2ff 40%, #12e9f7 30%); }
    .moreInfo .background .background2 {
      height: 60%;
      background-image: -webkit-linear-gradient(-85deg, #10e7f5 16%, rgba(55, 9, 72, 0.9) 16.5%); }
  .moreInfo .container {
    position: relative; }
  .moreInfo .noPain {
    width: 55%;
    margin-left: auto; }
    .moreInfo .noPain h2 {
      box-sizing: border-box;
      color: #370948;
      display: block;
      font-size: 4.7vw;
      font-weight: bold;
      padding: 0.6em 1em 0 0.3em; }
    .moreInfo .noPain .findOutMore {
      padding: 5vw 0 4vw 1.5vw; }
      .moreInfo .noPain .findOutMore ul {
        color: #ffffff;
        display: block; }
        .moreInfo .noPain .findOutMore ul li {
          font-size: 1.2em;
          margin-bottom: 0.77em; }
          .moreInfo .noPain .findOutMore ul li i {
            color: #fd0057;
            margin-right: 1em; }
      .moreInfo .noPain .findOutMore > a {
        background-color: #fd0057;
        border-radius: 0.2em;
        color: #f7cdce;
        font-size: 0.77em;
        padding: 1em;
        text-decoration: none;
        margin: 2em 0;
        display: inline-block; }
      .moreInfo .noPain .findOutMore .moreInfoCall {
        color: #ffffff;
        font-size: 1.5em; }
        .moreInfo .noPain .findOutMore .moreInfoCall a {
          color: #ffffff; }
  @media (max-width: 599px) {
    .moreInfo .noPain, .moreInfo .background {
      width: 100%; }
    .moreInfo .background2 {
      background-image: -webkit-linear-gradient(-85deg, #10e7f5 21%, rgba(55, 9, 72, 0.9) 21.5%); } }

.testimonials {
  background-color: #f7f8f9;
  padding: 3em 0 4em; }
  .testimonials h2 {
    color: #370948;
    font-size: 2.5em;
    font-weight: bold; }
  .testimonials .subtitle {
    justify-content: space-between;
    margin: 1.5em 0; }
    .testimonials .subtitle h3 {
      color: #370948;
      font-size: 1.5em; }
    .testimonials .subtitle .navigation {
      color: #370948;
      cursor: pointer; }
      .testimonials .subtitle .navigation .previous {
        margin-right: 0.5em; }
  .testimonials .testimonialsWrapper {
    justify-content: space-between;
    flex-wrap: wrap; }
    .testimonials .testimonialsWrapper .testimonial {
      width: 48%; }
      .testimonials .testimonialsWrapper .testimonial img {
        border-radius: 50%;
        width: 6em;
        height: 6em;
        margin-top: 1.6em;
        position: relative;
        z-index: 2; }
      .testimonials .testimonialsWrapper .testimonial .text {
        box-sizing: border-box;
        margin-left: -2em;
        position: relative;
        width: 500px;
        max-width: 90%; }
        .testimonials .testimonialsWrapper .testimonial .text svg {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
        .testimonials .testimonialsWrapper .testimonial .text h4 {
          color: #fd0057;
          font-size: 1.5em;
          font-weight: bold;
          line-height: 1.5em;
          margin: 1em 2em 0em 3em;
          position: relative; }
        .testimonials .testimonialsWrapper .testimonial .text p {
          font-size: 0.77em;
          margin: 1.5em 0;
          line-height: 2em;
          margin: 2em 3em 2em 6em;
          position: relative; }
        .testimonials .testimonialsWrapper .testimonial .text .authorName {
          color: #370948;
          font-size: 0.77em;
          font-weight: bold;
          margin: 2em 3em 3em 6em;
          position: relative; }
      @media (min-width: 600px) and (max-width: 900px) {
        .testimonials .testimonialsWrapper .testimonial {
          width: 100%; } }
      @media (max-width: 599px) {
        .testimonials .testimonialsWrapper .testimonial {
          width: 100%; } }

.bottom {
  background-color: #370948;
  padding: 2.5em 0; }
  .bottom .bottomWrapper {
    justify-content: space-between;
    margin-bottom: 1.5em; }
  .bottom .property {
    width: 20%; }
    .bottom .property:first-child {
      width: 36%; }
      .bottom .property:first-child h2 {
        background: url("../img/logo.png") no-repeat center left;
        background-size: contain;
        font-size: 2em;
        padding-left: 1em;
        margin-bottom: 1em;
        line-height: 1; }
    .bottom .property h2 {
      color: #01ff83;
      font-size: 1.2em;
      font-weight: bold;
      line-height: 2.4;
      margin-bottom: 0.4em; }
    .bottom .property p, .bottom .property ul {
      color: #f7cdce;
      line-height: 1.5em; }
    .bottom .property p {
      font-size: 0.77em;
      width: 70%; }
    .bottom .property ul {
      font-size: 0.8em; }
      .bottom .property ul li {
        list-style: disc;
        margin-left: 1em; }
  .bottom .social li {
    font-size: 1.2em;
    margin-right: 0.5em; }
    .bottom .social li .facebook {
      color: #6180c0; }
    .bottom .social li .youtube {
      color: #ef5c4a; }
    .bottom .social li .instagram {
      color: #854b2c; }
    .bottom .social li .pinterest {
      color: #e42c33; }
    .bottom .social li .twitter {
      color: #46bbeb; }
  @media (max-width: 599px) {
    .bottom .bottomWrapper {
      flex-direction: column; }
      .bottom .bottomWrapper .property {
        width: 100%; }
        .bottom .bottomWrapper .property p {
          width: 100%; } }

footer {
  color: #ffffff;
  background-color: #221f1f;
  font-size: 0.77em;
  padding: 2em 0; }
  footer .footerInfo {
    justify-content: space-between; }
    footer .footerInfo a {
      color: #ffffff;
      font-weight: bold;
      text-decoration: none; }
