.bottom{
    background-color: $color-purple;
    padding: 2.5em 0;
    .bottomWrapper{
        justify-content: space-between;
        margin-bottom: 1.5em;
    }
    .property{
        width: 20%;
        &:first-child{
            width: 36%;
            h2{
                background: url('../img/logo.png') no-repeat center left;
                background-size: contain;
                font-size: 2em;
                padding-left: 1em;
                margin-bottom: 1em;
                line-height: 1;
            }
        }
        h2{
            color: $color-green;
            font-size: 1.2em;
            font-weight: bold;
            line-height: 2.4;
            margin-bottom: 0.4em;
        }
        p, ul{
            color: $color-text-secondary;
            line-height: 1.5em;
        }
        p{
            font-size: 0.77em;
            width: 70%;
        }
        ul{
            font-size: 0.8em;
            li{
                list-style: disc;
                margin-left: 1em;
            }
        }
    }
    .social{
        li{
            font-size: 1.2em;
            margin-right: 0.5em;
            .facebook {
                color: #6180c0
            }
            .youtube{
                color: #ef5c4a;
            }
            .instagram{
                color: #854b2c;
            }
            .pinterest{
                color: #e42c33;
            }
            .twitter{
                color: #46bbeb;
            }
        }
    }
    @include for-phone{
        .bottomWrapper{
            flex-direction: column;
            .property{
                width: 100%;
                p{
                    width: 100%;
                }
            }
        }
    }
}