.checkbox {
    box-sizing: border-box;
    color: $color-text-primary;
    cursor: pointer;
    font-size: 0.77em;
    display: flex;
    align-items: center; 
    position: relative;
    user-select: none;
    width: 18%;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    height: 2.5vw;
    width: 2.5vw;
    background-color: $color-text-primary;
    margin-right: 3.3vw;
    @include for-phone{
        width: 5.5vw;
        height: 5.5vw;
    }
    @include for-tablet{
        width: 4vw;
        height: 4vw;
    }
}

.checkbox:hover input ~ .checkmark {
    background-color: $color-text-secondary;
}

.checkbox input:checked ~ .checkmark {
    background-color: $color-pink;
}

.checkmark:after {
content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 0.7vw;
    top: 0em;
    width: 0.6vw;
    height: 1.5vw;
    border: solid #ffffff;
    border-width: 0 0.5vw 0.5vw 0;
    transform: rotate(45deg);
    @include for-phone{
        left: 1.7vw;
        width: 1.1vw;
        height: 4vw;
        border-width: 0 1vw 1vw 0;
    }
    @include for-tablet{
        left: 1.1vw;
        width: 1vw;
        height: 2.3vw;
        border-width: 0 1vw 1vw 0;
    }
}