section.featured{
    background: url('../img/featured.jpg') no-repeat top center;
    background-size: cover;
    padding: 20% 0 0;
    .container{
        max-width: 1600px;
    }
    .description{
        background-color: rgba(255, 255, 255, 0.95);
        box-sizing: border-box;
        box-shadow: 0px -7px 5px -4px rgba(194,194,194,1);
        width: 575px;
        max-width: 95%;
        margin: 0 auto 20vw;
        padding: 2em;
        position: relative;
        h3{
            display: block;
            background-color: $color-purple;
            color: $color-text-secondary;
            position: absolute;
            top: -2.5em;
            left: 0;
            padding: 0.77em;
            font-size: 0.77em;
            text-transform: uppercase;
            i{
                color: $color-pink;
                margin-right: 0.2em;
            }
        }
        .featuredDetailed{
            justify-content: space-between;
            @include for-phone {
                flex-direction: column;
            }
        }
        .info{
            width: 80%;
            .address{
                color: $color-purple;
                font-size: 1em;
                
                .location {
                    margin-right: 1.5em;
                }
                i {
                    margin-right: 0.2em;
                    color: $color-pink;
                }
            }
            @include for-phone {
                width: 100%;
                .address{
                    flex-direction: column;
                }
                .location{
                    margin-bottom: 0.5em;
                }
            }
        }
        .houseInfo{
            justify-content: space-between;
            width: 75%;
            > div{
                text-align: center;
                span{
                    font-weight: bold;
                    font-size: 5vw;
                    line-height: 1.5em;
                }
            }
            @include for-phone {
                width: 100%;
                flex-direction: column;
                > div {
                    flex-direction: row;
                    align-items: center;
                    span {
                        font-size: 1em;
                        margin-right: 0.5em;
                    }
                }
            }
        }
        .street{
            color: $color-purple;
            font-size: 2.6vw;
            font-weight: bold;
            margin: 0.5em 0;
            @include for-phone {
                font-size: 7vw;
            }
        }
        .price{
            justify-content: space-between;
            width: 20%;
            > div {
                color: $color-text-secondary;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .priceText{
                background-color: $color-purple;
            }
            .priceNumber{
                background-color: $color-pink;
            }
            @include for-phone {
                flex-direction: row;
                width: 100%;
                > div{
                    width: 50%;
                    padding: 0.5em 0;
                }
            }
        }
        .featuresList{
            justify-content: space-between;
            margin: 1.5em 0 0;
            > div{
                width: 50%;
                > div{
                    font-size: 0.88em;
                    margin-bottom: 0.5em;
                }
            }
            i{
                color: $color-pink;
                margin-right: 0.5em;
            }
            @include for-phone {
                flex-direction: column;
                > div {
                    width: 100%;
                }
            }
        }
    }
    .featuredTabs{
        width: 720px;
        max-width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        .link{
            box-sizing: border-box;
            background-color: rgba(30, 30, 30, 0.85);
            color: $color-text-primary;
            width: 32%;
            padding: 0.7em 1em;
            &.active{
                background-color: $color-pink;
            }
            > a{
                color: $color-text-primary;
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 0.77em;
                span{
                    font-weight: normal;
                    margin-top: 0.2em;
                }
            }
            i {
                font-size: 1.6em;
                display: block;
                margin-right: 0.5em;
            }
        }
        @include for-phone{
            flex-direction: column;
            max-width: 66%;
            .link{
                width: 100%;
                margin-bottom: 0.5em;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}