footer{
    color: $color-text-primary;
    background-color: #221f1f;
    font-size: 0.77em;
    padding: 2em 0;
    .footerInfo{
        justify-content: space-between;
        a{
            color: $color-text-primary;
            font-weight: bold;
            text-decoration: none;
        }
    }
}