section.latest{
    background-color: $color-green;
    padding: 9vw 0;
    header{
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4vw;
        h2{
            color: $color-purple;
            font-size: 3.5vw;
            font-weight: bold;
            @include for-phone{
                font-size: 5.5vw;
            }
        }
        a, a:visited{
            @include link-block($color-pink, $color-text-secondary, 0.77em, 1vw);
        }
    }
    .properties{
        justify-content: space-between;
        .property{
            background-color: $color-text-primary;
            width: 31.5%;
            figure{
                background-color: $color-purple;
                display: flex;
                flex-direction: column;
                width: 100%;
                img{width: 100%}
                figcaption{
                    font-size: 0.8em;
                    font-weight: bold;
                    background-color: $color-purple;
                    width: 66%;
                    margin-top: -2.35em;
                    div{
                        color: $color-text-secondary;
                        padding: 0.7em 0;
                        width: 50%;
                        text-align: center;
                        text-transform: uppercase;
                    }
                    div.price{
                       background-color: $color-pink; 
                    }
                    @include for-tablet {
                        width: 100%;
                    }
                }
            }
            .propertyInfo{
                padding: 1em;
                h3{
                    color: $color-purple;
                    font-size: 2vw;
                    font-weight: bold;
                    @include for-phone{
                        font-size: 5vw;
                    }
                }
                .address{
                    font-size: 0.77em;
                    flex-wrap: wrap;
                    margin-top: 0.5em;
                    > div{
                        margin-bottom: 1em;
                    }
                }
                .houseInfo{
                    font-size: 0.77em;
                }
                .location, .type{
                    color: $color-purple;
                }
                .location{
                    margin-right: 1em;
                }
                i{
                    color: $color-pink;
                    margin-right: 0.2em;
                }
                .houseInfo{
                    justify-content: space-between;
                    > div{
                        border-right: 1px solid $color-purple;
                        color: $color-purple;
                        text-align: center;
                        width: 33%;
                    }
                    :last-child{
                        border-right: none;
                    }
                    span{
                        font-size: 2.4em;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }
                    @include for-tablet {    
                        flex-direction: column;
                        > div{
                            border: none;
                            flex-direction: row;
                            margin-bottom: 0.5em;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            span{
                                font-size: 1em;
                                margin: 0 1em 0 0;
                            }
                        } 
                    }
                    @include for-phone{
                        flex-direction: column;
                        > div{
                            border: none;
                            flex-direction: row;
                            margin-bottom: 0.5em;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            span{
                                font-size: 1em;
                                margin: 0 1em 0 0;
                            }
                        }
                    }
                }
            }
        }
        @include for-phone{
            flex-direction: column;
            .property{
                display: flex;
                width: 100%;
                margin-bottom: 1em;
                figure{
                    width: 33.33%;
                    figcaption{
                        width: 100%;
                        flex-direction: column;
                        margin-top: -0.55em;
                        div{
                            width: 100%;
                        }
                    }
                }
                .propertyInfo{
                    width: 66.66%;
                    .address{
                        flex-direction: column;
                    }
                }
            }
        }
    }
}