body{
    background: #273772 url('../img/top_house.jpg') no-repeat top right;
    background-size: contain;
    color: $color-body;
    font-size: 16px;
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    width: 90vw;
    max-width: 1110px; 
    margin: 0 auto;
    padding: 0;
}