.moreInfo{
    background: $color-text-primary url('../img/no_pain_property.jpg') no-repeat top left;
    background-size: cover;
    position: relative;
    .background{
        position: absolute;
        width: 55%;
        height: 100%;
        right: 0;
        .background1{
            height: 40%;
            background-image: -webkit-linear-gradient(-90deg, #1bf2ff 40%, #12e9f7 30%);
        }
        .background2{
            height: 60%;
            background-image: -webkit-linear-gradient(-85deg, #10e7f5 16%, rgba(55, 9, 72, 0.90) 16.5%);
        }
    }
    .container{
        position: relative;
    }
    .noPain{
        width: 55%;
        margin-left: auto;
        h2{
            box-sizing: border-box;
            color: $color-purple;
            display: block;
            font-size: 4.7vw;
            font-weight: bold;
            padding: 0.6em 1em 0 0.3em;
            
        }
        .findOutMore{
            padding: 5vw 0 4vw 1.5vw;
            ul{
                color: $color-text-primary;
                display: block;
                li{
                    font-size: 1.2em;
                    margin-bottom: 0.77em;
                    i{
                        color: $color-pink;
                        margin-right: 1em;
                    }
                }
            }
            > a{
                @include link-block($color-pink, $color-text-secondary, 0.77em, 1em);
                margin: 2em 0;
                display: inline-block;
            }
            .moreInfoCall {
                color: $color-text-primary;
                font-size: 1.5em;
                a{
                    color: $color-text-primary;
                }
            }
        }
    }
    @include for-phone{
        .noPain, .background{
            width: 100%;
        }
        .background2{
            background-image: -webkit-linear-gradient(-85deg, #10e7f5 21%, rgba(55, 9, 72, 0.90) 21.5%);
        }
    }
}