.newsletter{
    background-color: $color-purple;
    padding: 2em 0;
    .container{    
        h2{
            color: $color-green;
            font-size: 2.8vw;
            font-weight: bold;
            width: 33%;
            box-sizing: border-box;
            padding: 0 2em 0 0.5em;
        }
        form{
            width: 67%;
            .user{
                justify-content: space-between;
                input{
                    font-size: 1.8vw;
                    width: 37%;
                    border: 0;
                    padding: 0.5em;
                    box-sizing: border-box;
                }
                button{
                    background-color: $color-pink;
                    border: none;
                    color: $color-text-primary;
                    font-size: 0.77em;
                    width: 20%;
                    @include link-block($color-pink, $color-text-secondary, 0.77em, 0);
                    margin-left: 0;
                    i{
                        margin-right: 0.5em;
                    }
                }
                @include for-phone{
                    input{
                        font-size: 3.8vw;
                    }
                }
            }
            .filter{
                justify-content: space-between;
                margin: 2em 0 0;
                @import './checkbox.scss';
                label.price{
                    color: $color-text-primary;
                    cursor: pointer;
                    font-size: 0.77em;
                    line-height: 1.3em;
                    justify-content: space-between;
                    align-items: center;
                    width: 28%;
                    input{
                        box-sizing: border-box;
                        border: 0;
                        border-radius: 0;
                        color: $color-purple;
                        width: 62%;
                        padding: 0.4vw 0.8vw;
                        background-color: $color-text-primary;
                        &::placeholder{
                            color: $color-purple;
                        }
                    }
                    span{
                        color: $color-text-secondary;
                        display: block;
                        margin-left: 2em;
                        width: 25%;
                    }
                    @include for-phone{
                        width: 80%;
                        input{
                            font-size: 3.8vw;
                            padding: 1.4vw 1.8vw;
                        }
                    }
                    @include for-tablet{
                        width: 42%;
                        input{
                            font-size: 2.8vw;
                            padding: 0.8vw 0.8vw;
                        }
                    }
                }
            }
        }
        @include for-phone{
            flex-direction: column;
            h2, form{
                width: 100%;
                margin-bottom: 1em;
            }
            h2{
                font-size: 6vw;
            }
            form{
                .filter{
                    flex-wrap: wrap;
                    .checkbox{
                        width: 25%;
                        margin-bottom: 1em;
                    }
                }
            }
        }
        @include for-tablet{
            flex-direction: column;
            h2, form{
                width: 100%;
                margin-bottom: 1em;
            }
            h2{
                font-size: 6vw;
            }
            form{
                .filter{
                    flex-wrap: wrap;
                    .checkbox{
                        width: 25%;
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}