.sell{
    background-color: $color-text-primary;
    padding: 5vw 0 0;
    .sellInfo{
        width: 55%;
        h2{
            color: $color-purple;
            font-size: 3.8vw;
            font-weight: bold;
        }
        h3{
            color: $color-purple;
            font-size: 2.35vw;
            margin: 2.5vw 0;
        }
        p{
            font-size: 0.88em;
            line-height: 1.7em;
            margin-bottom: 4.5vw;
        }
        @include for-phone{
            width: 100%;
            h2{
                font-size: 7.5vw;
            }
            h3{
                font-size: 4.65vw;
            }
        }
    }
    .sellFeatures{
        justify-content: space-between;
        margin-bottom: 2.5em;
        h4{
            color: $color-purple;
            font-size: 2vw;
            text-align: center;
            width: 20%;
            border-right: 1px solid #eaebec;
            &:last-child{
                border-right: none;
            }
            i{
                font-size: 2em;
                margin-bottom: 0.5em;
                &.fa-coins{
                    color: $color-green;
                }
                &.fa-box-open{
                    color: #01f1ff;
                }
                &.fa-camera{
                    color: #ebff00;
                }
                &.fa-gem{
                    color: #fe0058;
                }
            }
        }
        @include for-phone{
            flex-direction: column;
            h4{
                text-align: left;
                flex-direction: row;
                width: 90%;
                border: none;
                font-size: 5vw;
                br {
                    display: none;
                }
                i{
                    margin-right: 0.5em;
                }
            }
        }
    }
    .sellContacts{
        background-color: #f7f8f9;
        padding: 4vw;
        h3{
            color: $color-purple;
            font-size: 2.2vw;
            font-weight: bold;
            width: 27%;
            padding-right: 1em;
            box-sizing: border-box;
        }
        .contact{
            width: 73%;
            justify-content: space-between;
        }
        .contactInfo{
            width: 45%;
            img{
                width: 3.5em;
                height: 3.5em;
                border-radius: 50%;
                border: 2px solid $color-pink;
                box-shadow: 0px 0px 0px 0.4em rgba(226,227,228,1);
                margin-right: 1.5em;
            }
            .contactDetails{
                font-size: 0.88em;
                > div{
                    margin-bottom: 0.5em;
                    > i{
                        color: $color-pink;
                    }
                    > a{
                        color: $color-body;
                    }
                }
                strong{
                    font-weight: bold;
                }
            }
        }
        @include for-phone{
            flex-direction: column;
            h3, & > div, .contact{
                width: 100%;
            }
            h3{
                margin-bottom: 1em;
                padding: 0;
                font-size: 6vw;
            }
            .contact{
                flex-direction: column;
                .contactInfo{
                    width: 100%;
                    margin-bottom: 1em;
                }
            }
        }
    }
}