@import './reset.scss';
@import './helpers.scss';
$color-body: #231f20;
$color-green: #01ff83;
$color-pink: #fd0057;
$color-purple: #370948;
$color-text-primary: #ffffff;
$color-text-secondary: #f7cdce;

@mixin link-block($background, $color, $fontsize, $padding) {
    background-color: $background;
    border-radius: 0.2em;
    color: $color;
    font-size: $fontsize;
    padding: $padding;
    text-decoration: none;
}

@mixin for-phone {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet {
    @media (min-width: 600px) and (max-width: 900px) { @content; }
}

@import './main.scss';
@import './top.scss';
@import './latest.scss';
@import './featured.scss';
@import './sell.scss';
@import './newsletter.scss';
@import './moreInfo.scss';
@import './testimonials.scss';
@import './bottom.scss';
@import './footer.scss';
