.testimonials{
    background-color: #f7f8f9;
    padding: 3em 0 4em;
    h2{
        color: $color-purple;
        font-size: 2.5em;
        font-weight: bold;
    }
    .subtitle{
        justify-content: space-between;
        margin: 1.5em 0;
        h3 {
            color: $color-purple;
            font-size: 1.5em;
        }
        .navigation{
            color: $color-purple;
            cursor: pointer;
            .previous{
                margin-right: 0.5em;
            }
        }
    }
    .testimonialsWrapper{
        justify-content: space-between;
        flex-wrap: wrap;
        .testimonial{
            width: 48%;
            img{
                border-radius: 50%;
                width: 6em;
                height: 6em;
                margin-top: 1.6em;
                position: relative;
                z-index: 2;
            }
            .text{
                box-sizing: border-box;
                margin-left: -2em;
                position: relative;
                width: 500px;
                max-width: 90%;
                svg{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                h4{
                    color: $color-pink;
                    font-size: 1.5em;
                    font-weight: bold;
                    line-height: 1.5em;
                    margin: 1em 2em 0em 3em;
                    position: relative;
                }
                p{
                    font-size: 0.77em;
                    margin: 1.5em 0;
                    line-height: 2em;
                    margin: 2em 3em 2em 6em;
                    position: relative;
                }
                .authorName{
                    color: $color-purple;
                    font-size: 0.77em;
                    font-weight: bold;
                    margin: 2em 3em 3em 6em;
                    position: relative;
                }
            }
            @include for-tablet{
                width: 100%;
            }
            @include for-phone{
                width: 100%;
            }
        }
    }
}