section.top{
    background-color: rgba(55, 5, 64, 0.9);
    padding: 5vw 0 10vw;
    header{
        justify-content: space-between;
        align-items: center;
        .mobile &{
            justify-content: flex-start;
        }
        h1{
            background: url('../img/logo.png') no-repeat center left;
            background-size: contain;
            padding-left: 2em;
            margin-right: 2em;
            .logo, .logo:visited{
                color: $color-green;
                font-size: 1.5em;
                font-weight: bold;
                text-decoration: none;
            }
        }
        nav{
            width: 60%;
            i {
                color: $color-text-primary;
                cursor: pointer;
                display: none;
                position: relative;
                z-index: 200;
                .mobile &{
                    display: block;
                }
            }
            ul{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                li{
                    margin-right: 1.5vw;
                    &:last-child{
                        margin-right: 0;
                    }
                }
                a, a:visited{
                    color: $color-text-primary;
                    font-size: 0.8em;
                    text-decoration: none;          
                }
                .mobile &{
                    display: none;
                };
                .mobile &.show{
                    background-color: $color-purple;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 44%;
                    height: 100vh;
                    padding: 10vh 0 0;
                    z-index: 100;
                    li{
                        margin: 0 0 5vw 10vw;
                        font-size: 1.5em;
                    }
                }
            }
            .mobile &{
                width: 7%;
                order: -1;
                overflow: visible;
                position: relative;
            }
        }
    }
    .search{
        h2{
            color: $color-green;
            font-size: 6vw;
            font-weight: bold;
            margin: 1em 0 0.5em;
        }
        div{
            border-bottom: 1px solid #5e853c;
            justify-content: space-between;
            align-items: center;
            height: 5vw;
            width: 50%;
            input{
                background: none;
                border: none;
                color: $color-text-primary;
                font-size: 2.3vw;
                width: 95%;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    color: $color-text-primary;
                }
                @include for-phone{
                    font-size: 4.8vw;
                }
            }
            i{
                font-size: 3.4vw;
                color: $color-pink;
                cursor: pointer;
            }
        }
        @include for-phone{
            div{
                width: 80%;
            }
        }
    }
    .tags{
        justify-content: flex-start;
        width: 100%;
        margin: 2.5em 0 0;
        .title{
            color: $color-text-primary;
            font-size: 0.77em;
            line-height: 3.5vw;
        }
        ul{
            justify-content: flex-start;
            margin-left: 1.5em;
            flex-wrap: wrap;
            li{
                a, a:visited{
                    @include link-block($color-pink, $color-text-secondary, 0.77em, 1vw);
                    display: block;
                    margin: 0 0 1.7vw 1.7vw;
                }
            }
        }
    }
}